# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib


# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

out/

.idea
/ToDoAPI/ToDoApp.Test/bin
/ToDoAPI/ToDoApp.Test/obj
/ToDoAPI/ToDoApp.DTO/bin/Release/net5.0
/ToDoAPI/ToDoApp.DTO/obj/Debug/net5.0
/ToDoAPI/ToDoApp.DTO/obj/Release/net5.0
/ToDoAPI/ToDoApp.DTO/obj
/ToDoAPI/ToDoApp.API/obj
/ToDoAPI/ToDoApp.API/bin/Release/net5.0
/ToDoAPI/ToDoApp.API/.config
