version: "3"

services:
  togo-db-postgres:
    image: postgres
    environment: 
      POSTGRES_USER: username
      POSTGRES_PASSWORD: password
      POSTGRES_DB: togo-db-local
    ports:
      - '15432:5432'
    volumes:
      - /var/lib/postgresql/data/ # persist data even if container shuts down

  togo-pgadmin:
    image: dpage/pgadmin4
    environment:
      PGADMIN_DEFAULT_EMAIL: 'admin@admin.com'
      PGADMIN_DEFAULT_PASSWORD: 'admin'
    ports:
      - '16543:80'
    depends_on:
      - togo-db-postgres