version: '3.5'
services:
  manabie_togo:
    build:
      context: ./docker
      dockerfile: Dockerfile
    container_name: manabie_togo
    working_dir: /var/www/html
    volumes:
      - .:/var/www/html
      - ./docker/config/nginx.conf:/etc/nginx/nginx.conf
      - ./docker/config/fpm-pool.conf:/etc/php7/php-fpm.d/www.conf
      - ./docker/config/php.ini:/etc/php7/conf.d/zzz_custom.ini
      - ./docker/config/supervisord.conf:/etc/supervisor/conf.d/supervisord.conf
    ports:
      - 8088:8080
    networks:
      - reverse-proxy
    links:
      - manabie_togo_database

  manabie_togo_database:
    image: mysql:5.7
    container_name: manabie_togo_database
    volumes:
      - ./docker/database:/var/lib/mysql
    ports:
      - 3308:3306
    environment:
      MYSQL_ROOT_PASSWORD: 'password'
    entrypoint:
      sh -c "echo 'CREATE DATABASE IF NOT EXISTS manabie_togo; CREATE DATABASE IF NOT EXISTS manabie_togo_test;' > /docker-entrypoint-initdb.d/init.sql;/usr/local/bin/docker-entrypoint.sh --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci"
    networks:
      - reverse-proxy

networks:
  reverse-proxy:
    name: reverse-proxy
