version: "3.5"

services:
  app:
    image: task-service
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "5050:5050"
    environment:
      APP_PORT: 5050
      JWT_SECRET: abcdef123456
      DB_HOST: db
      DB_PORT: 3306
      DB_NAME: TASK
      DB_USER: admin
      DB_PASSWORD: etc12345
    networks:
      task-service:
    depends_on:
      - db
  db:
    image: mysql
    command: --default-authentication-plugin=mysql_native_password
    environment:
      MYSQL_ROOT_PASSWORD: etc12345
      MYSQL_DATABASE: TASK
      MYSQL_USER: admin
      MYSQL_PASSWORD: etc12345
    ports:
      - "3306:3306"
    volumes:
      - dbdata:/var/lib/mysql
      - ./dbseeder:/docker-entrypoint-initdb.d
    networks:
      task-service:
        aliases:
          - db
  adminer:
    image: adminer
    restart: always
    depends_on:
      - db
    ports:
      - "8080:8080"
networks:
  task-service:
volumes:
  dbdata:
