export POSTGRES_USER=bandan
export POSTGRES_PASSWORD=bandan
export POSTGRES_DB=todo
export JWT_KEY=wqGyEBBfPK9w3Lxw
export TOKEN_TIL=15
export REDIS__ADDR=127.0.0.1:6379
export REDIS__PASSWORD=
export REDIS__DB=0
export DATABASE__ADDR=127.0.0.1:5432
export DATABASE__USER=bandan
export DATABASE__PASSWORD=bandan
export DATABASE__DATABASE=todo