<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <log4net>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="Logs/Logs_%date{yyyyMMdd}.txt" />
      <rollingStyle value="Date" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <datePattern value="yyyyMMdd" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10000KB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-5level %date{dd-mm-yyyy HH:mm:ss} %logger [%thread] - %message %exception%newline" />
      </layout>
    </appender>
    <root>
      <appender-ref ref="RollingFileAppender" />
      <level value="ERROR" />
    </root>
  </log4net>
</configuration>