[app]
PageSize = 10
JwtSecret = 233
PrefixUrl = http://127.0.0.1:8001

RuntimeRootPath = runtime/

ImageSavePath = upload/images/
# MB
ImageMaxSize = 5
ImageAllowExts = .jpg,.jpeg,.png

ExportSavePath = export/
QrCodeSavePath = qrcode/
FontSavePath = fonts/

LogSavePath = logs/
LogSaveName = log
LogFileExt = log
TimeFormat = 20060102

[server]
#debug or release
RunMode = debug
HttpPort = 8001
ReadTimeout = 60
WriteTimeout = 60

[database]
Type = mysql
User = root
Password =
Host =
Name =
TablePrefix =

[redis]
Host = 127.0.0.1:6379
Password =
MaxIdle = 30
MaxActive = 30
IdleTimeout = 200

[external]
BonusURL = http://vkidsbns.securelayers.clao:8003/

[path]
ResourcePath = "http://std-member.securelayers.cloud/resources"
MemberResourcePath = "http://std-member.securelayers.cloud/resources"
MemberURL = "http://localhost:4300"
# MemberURL = "https://oral-member.securelayers.cloud"

[billplz]
Collection = "roc2oquq"
APIKey = "8b6a27e7-024a-4dc8-aea3-cadb8fd10103"
XSignature = "S-tf_xxlEdQI5gB5J7l_BtkA"
URL = "https://www.billplz-sandbox.com/api/v3/bills"

# cp conf/app.ini ~/Documents/mygo/bin/conf/app.ini
