APP_NAME=togo

LOG_LEVEL=debug

HOST=localhost
PORT=8080

DB_DRIVER=postgres
DB_HOST=127.0.0.1
DB_PORT=5432
DB_NAME=todo
DB_USERNAME=postgres
DB_PASSWORD=postgres

REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=p4ssw0rd

# Second
TOKEN_TTL=86400
