<h2>Task list</h2>

<% unless @tasks.count > 0 %>
  <p>No task found</p>
<% end %>

<% @tasks.each do |task| %>
    <div class="card">
      <div class="row no-gutters">
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title"><%= task.title %></p>
            <p class="card-text">Description: <%= task.description %></p>
          </div>
        </div>
      </div>
    </div>
<% end %>
